.container{

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background-image: url("https://forum.xda-developers.com/proxy.php?image=http%3A%2F%2Fuploads.tapatalk-cdn.com%2F20160227%2Fccd9e38d6372a8546c4a568e7e569891.jpg&hash=a1fc5585a3abe3a5ef46f2a6c3a98b38");
  background-size: cover;
  background-repeat: no-repeat;
  p{
    color: white;
  }

}
.he{
  height: 70vh;
}
